
<div class="form-group">
    <div class="col-md-10">
        <br/>
        <br/>
        <h2>An error has occured while uploading the video. Please contact <a href="mailto:jguerra@NADA.org"> Juila Guerra</a> if you have any questions.</h2>
        <p>
            <a asp-area="" asp-controller="item" asp-action="Create">Click here</a> if you'd like to upload another video.
        </p>
    </div>
</div>