
<div class="form-group">
    <div class="col-md-10">
        <br />
        <br />
        <h5>
            Thank you for for your input, We are working on a resolution for this. We will respond to your submission as soon as possible. <br /> 
            Please close this browser window to return to your meeting pages.
        </h5> @*@TempData["uploadedUri"]*@
        @*<p>
            <a asp-area="" asp-controller="item" asp-action="Create">Click here</a> if you'd like to upload another issue.
        </p>*@
    </div>
</div>