@using ShowIssueTracker.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    <div class="bg-div">
        <img src="~/2021ShowLogo.jpg" class="imgLogo logo-img" /> 
        <nav>

            @if (SignInManager.IsSignedIn(User))
            {

                <ul>
                    <li><a class="waves-effect waves-light" href="/Item/Index">All Issues</a></li>
                    <li><a class="waves-effect waves-light" href="/Item/Internal">Internal Issues</a></li>
                    <li><a class="waves-effect waves-light" href="/Item/External">External Issues</a></li>
                    <li><a class="waves-effect waves-light" href="/Item/Resolved">Resolved Issues</a></li>

                </ul>
                <ul class="right hide-on-small-only">

                    <li><a class="waves-effect" href="/Account/Profile"><span class="display-name">@UserManager.GetUserName(User) </span><i class="material-icons right">person</i></a></li>
                    <li><a href="#" data-activates="mobile-demo" class="button-collapse right hide-on-med-and-up right-nav"><i class="material-icons">person</i></a></li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <a class="waves-effect" href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="material-icons">power_settings_new</i>
                            </a>
                        </form>
                    </li>
                </ul>

                <ul class="right side-nav side-nav-right" id="mobile-demo">

                    <li><a class="waves-effect waves-light" href="/Account/Profile"><i class="material-icons">person</i>My Profile</a></li>
                    <li>
                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm2">
                            <a class="waves-effect waves-light" href="#" onclick="$(this).closest('form').submit(); return false;">
                                <i class="material-icons">power_settings_new</i>Logout
                            </a>
                        </form>
                    </li>
                </ul>
            }
            else
            {
        <ul class="right hide-on-small-only">

            <li><a class="waves-effect waves-light" href="/Account/Login"><i class="material-icons">login</i>Login</a></li>
        </ul>

                <ul class="right side-nav side-nav-right" id="mobile-demo">

                    <li><a class="waves-effect waves-light" href="/Account/Login"><i class="material-icons">login</i>Login</a></li>
                  
                </ul>
            }

        </nav>
    </div>


 
 
    
<div class="container"></div>

<style>
    body {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    /* Navigation */
    nav {
        float: left;
        margin: 0;
        overflow: hidden;
        text-align: center;
    }

        nav ul {
            margin: 0;
            padding: 0;
        }

            nav ul li {
                display: inline-block;
                list-style-type: none;
            }

        nav > ul > li > a {
          
            text-decoration: none;
        }

    .logo-img {
        float: left;
        position: relative;
        margin: 10px 15px 15px 10px;
    }

    .bg-div { 
        overflow: hidden;
    }
</style> 